# macOS
.DS_Store

# Python / Jupyter
.venv/
venv/
env/
__pycache__/
.ipynb_checkpoints/

# Training artifacts / big binaries
runs/
models/
*.safetensors
*.bin
*.pt
*.pth

# Temp folders
testing_folder/

#data folders
data/
data_cleaning/

ocr_augmentation.py

